# ---- OS ----
.DS_Store
Thumbs.db

# ---- IntelliJ / IDE ----
.idea/
*.iml
out/

# ---- Java / Spring ----
target/
*.class
*.jar
*.war
*.ear

# ---- Logs ----
logs/
*.log

# ---- Docker ----
.env

# ---- Elasticsearch ----
data/

